@import "~office-ui-fabric-react/dist/sass/References.scss";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Redstar {
  color: red;
}

.Count {
  min-width: 60px;
  height: 1.2rem;
  background-color: #ffcc66;
  border: 1px solid black;
  color: #000;
}

.Maxlength {
  white-space: nowrap;
  color: red;
  opacity: 100;
}
.MaxLengthHide {
  opacity: 0;
}

.btn {
  display: inline-flex;
  margin: 5px;
  .btnNormal {
    margin-right: 15px;
    width: 6rem;
    background-color: #1e81b0;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
}
.btnLong {
  margin-top: 0.5rem;
  width: fit-content;
  background-color: #1e81b0;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.threshold {
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  width: 100%;
  .thresholdContent {
    padding: 5px;
    display: flex;
    .thresholdLeft {
      font-weight: bold;
      width: 50%;
      display: flex;
    }
    .thresholdRight {
      display: flex;
      width: 50%;
      height: 1.2rem;
      float: right;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  }
}
.thresholdInput {
  padding: 1.5rem;
  width: 100%;
  border: 1px solid blue;
  height: 2.5rem;
  resize: none;
}
.infor {
  border: 1px solid black;
  border-bottom: none;
  width: 100%;

  .inforContent {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    .inforLeft {
      font-weight: bold;
      width: 50%;
      display: flex;
    }
    .inforRight {
      background-color: #ffcc66;
      border: 1px solid black;
      color: #000;
      height: 1.2rem;
      min-width: 60px;
      align-items: center;
      text-align: center;
    }
  }
  .inforInput {
    font-family: sans-serif;
    width: fit-content;
    padding: 0.7rem;
    margin: 5px;
    border: 1px solid blue;
    height: fit-content;
    resize: none;
  }
  .inforTable {
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
    font: 0.75em sans-serif;
    border-spacing: 0;
    text-align: center;
    // &Break {
    //   word-break: break-word;
    // }
    th,
    td {
      border-right: 1px solid black;
      border-bottom: 1px solid #000;
    }
    .inforTdb {
      border-bottom: 1px solid #000;
    }
  }
  .inforThreadlight {
    border: 1px solid black;
  }
}

.revision {
  border: 1px solid black;
  border-bottom: none;
  width: 100%;
  .revisionContent {
    padding: 5px;
    display: flex;
    .revisionLeft {
      font-weight: bold;
      width: 50%;
    }
    .revisionRight {
      background-color: #ffcc66;
      border: 1px solid black;
      margin-left: 13rem;
      color: #000;
      width: 10%;
      height: 1.2rem;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .revisionInput {
    padding: 1.5rem;
    border: 1px solid blue;
    width: 100%;
    height: 2.5rem;
    resize: none;
  }
}
.submit {
  border: 1px solid black;
  width: 100%;
  .submitContent {
    padding: 5px;
    display: flex;
    .submitLeft {
      font-weight: bold;
      width: 50%;
      display: flex;
    }
  }
  .submitInput {
    padding: 1.5rem;
    border: 1px solid blue;
    width: 100%;
    height: 2.5rem;
    resize: none;
  }
}
