@import "~office-ui-fabric-react/dist/sass/References.scss";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 90%;
  padding: 1rem, 0;
  &-logo {
    width: 100%;
    max-width: 150px;
  }
  &-title {
    padding: 1rem;
    background-color: #1e81b0;
    color: #fff;
    width: 70%;
    float: right;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.title {
  margin-top: 20px;
  border: 1px solid black;
  width: 90%;
  &-content {
    padding: 5px;
    display: flex;
    &-left {
      font-weight: bold;
      width: 50%;
      display: flex;
      flex-direction: row;
      &-redstar {
        color: red;
      }
    }
    &-right {
      display: flex;
      width: 50%;
      height: 1.2rem;
      float: right;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      &-maxlength {
        white-space: nowrap;
        color: red;
        opacity: 100;
      }
      &-maxLengthHide {
        opacity: 0;
      }
      &-count {
        min-width: 60px;
        height: 1.2rem;
        background-color: #ffcc66;
        border: 1px solid black;
        color: #000;
      }
    }
  }
  &-input {
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 4rem;
  }
}
.description {
  border: 1px solid black;
  width: 90%;
  &-content {
    padding: 5px;
    display: flex;
    &-left {
      font-weight: bold;
      width: 50%;
      display: flex;
      &-redstar {
        color: red;
      }
    }
    &-right {
      display: flex;
      width: 50%;
      height: 1.2rem;
      float: right;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      &-maxlength {
        white-space: nowrap;
        color: red;
        opacity: 100;
      }
      &-maxLengthHide {
        opacity: 0;
      }
      &-count {
        min-width: 60px;
        height: 1.2rem;
        background-color: #ffcc66;
        border: 1px solid black;
        color: #000;
      }
    }
  }
  &-input {
    width: 90%;
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    height: 7rem;
  }
}
.aircrapt {
  border: 1px solid black;
  width: 90%;
  &-content {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    &-left {
      font-weight: bold;
      width: 50%;
      display: flex;
      &-redstar {
        color: red;
      }
    }
    &-right {
      background-color: #ffcc66;
      border: 1px solid black;
      margin-left: 13rem;
      color: #000;
      height: 1.2rem;
      width: 10%;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &-input {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid blue;
    height: fit-content;
  }
}

.buttons {
  display: inline-flex;
  margin: 10px;
  &-normal {
    margin-right: 15px;
    width: 6rem;
    background-color: #1e81b0;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
  &-long {
    width: fit-content;
    background-color: #1e81b0;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
}
