@import '~office-ui-fabric-react/dist/sass/References.scss';

.form {
  text-decoration: none;
  width: 100%;

  .header {
    flex: 1;
    display: flex;
    flex-direction: row;

    .imgLogo {
      margin-right: 25px;
    }

    .title {
      flex: 5;
      background-color: #0781e4;
      color: white;
      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .docField {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 12px;
    .firstLine {
      display: flex;
      justify-content: flex-end;
    }
    .secondLine {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-top: 12px;
    }
  }
  
  .listForm {
    width: 100%;
    margin-top: 12px;
    table , th, td {
      border: 1px solid;
      border-collapse: collapse;
    }
  }

  .Footer {
    margin-top: 24px;
    display: flex;

    .preparedWrapper{
      width: 280px;
      display: flex;
      justify-content: space-between;
      .preparedBy {
        display: flex;
        flex-direction: column;
      }
    }

    .reviewedWrapper {
      margin-left: 12px;
      display: flex;
      .reviewedBy {
        display: flex;
        flex-direction: column;
      }
      .reviewName {
        margin-top: 14px;
        margin-left: 12px;
      }
    }

    // .checkedWrapper {
    //   margin-left: 24px;
    //   display: flex;
    //   .checkedBy{
    //     display: flex;
    //     flex-direction: column;
    //   }
    // }
  }
  .secondFooter {
    text-decoration: none;
    margin-top: 24px;
    .checkedWrapper {
      display: flex;
      .checkedBy {
        display: flex;
        flex-direction: column;
      }
      .checkName {
        margin-top: 14px;
        margin-left: 12px;
      }
    }
  }
  .signatures {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
  }
}

.date {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.inputFooter, .inputFooter:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  width: 120px;

}

.inputForm, .inputForm:focus {
  border: none;
  outline: none;
}

