@import "~office-ui-fabric-react/dist/sass/References.scss";

:root {
  --border: 1px solid black;
}
.header {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  .headerLogo {
    width: 100%;
    max-width: 150px;
    margin-right: 25px;
  }
  .headerTitle {
    padding: 1rem;
    background-color: #1e81b0;
    color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  .contentLeft {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: var(--border);
    margin-right: 15px;

    .title {
      border-bottom: var(--border);
      height: 150px;
      padding: 5px;
    }
    .description {
      border-bottom: var(--border);
      height: 200px;
      padding: 5px;
    }
    .modification {
      border-bottom: var(--border);
      height: 150px;
      padding: 5px;
    }
    .remarks {
      border-bottom: var(--border);
      height: 200px;
      padding: 5px;
    }
    .schedule {
      height: 150px;
      padding: 5px;
      .titleSchedule {
        display: flex;
        flex-direction: row;
      }
      .approval {
        margin: 15px;
        width: 50%;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
      }
      .notification {
        font-weight: normal;
        font-style: italic;
        color: #9c9998;
        padding: 5px;
      }
    }

    .classified {
      height: 150px;
      border-top: var(--border);
      padding: 5px;
      .titleClassified {
        display: flex;
        flex-direction: row;
      }
      .approval {
        margin: 15px;
        width: 50%;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
      }
      .ama {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .contentRight {
    width: 40%;
    display: flex;
    flex-direction: column;
    border: var(--border);

    .mra {
      border-bottom: var(--border);
      height: 150px;
      display: flex;

      .mraLeft {
        width: 70%;
        display: flex;
        flex-direction: column;
        border-right: var(--border);
        .mdn {
          padding: 5px;
          justify-content: space-around;
          height: 50%;
          border-bottom: var(--border);
        }
        .revision {
          height: 50%;
          padding: 5px;
          // border-bottom: var(--border);
        }
      }
      .mraRight {
        text-align: center;
        padding: 5px;
      }
    }
    .ae {
      display: flex;
      flex-direction: row;
      border-bottom: var(--border);
      height: 100px;
      .aeLeft {
        width: 50%;
        padding: 5px;
        border-right: var(--border);
      }
      .aeRight {
        padding: 5px;
      }
    }
    .aircrapt {
      display: flex;
      flex-direction: row;
      border-bottom: var(--border);
      height: 150px;
      .aircraptLeft {
        width: 50%;
        .aircraptAir {
          display: flex;
          flex-direction: row;
          padding: 5px;
        }
        .aircraptRegis {
          padding: 5px;
        }
      }
      .aircraptRight {
        padding: 5px;
      }
    }
    .component {
      border-bottom: var(--border);
      height: 150px;
      padding: 5px;
    }
    .componentpartno {
      border-bottom: var(--border);
      height: 150px;
      padding: 5px;
    }
    .titleself {
      align-self: center;
      text-align: center;
      width: 150px;
    }
    .paragraph {
      padding: 7px;
    }
    .solidCenter {
      align-self: center;
      text-align: center;
    }
  }
}
.Redstar {
  color: red;
}
.button {
  width: 6rem;
  background-color: #1e81b0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.bottomtitle {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  width: 100%;
  border-bottom: 0px;
  justify-content: space-between;
  font-weight: bold;
}
