@import "~office-ui-fabric-react/dist/sass/References.scss";
@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #7be495;
$color-form-highlight: #56c596;
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.threshold {
  margin-top: 20px;
  border: 1px solid black;
  width: 90%;
  &-content {
    padding: 5px;
    display: flex;
    &-left {
      font-weight: bold;
      width: 50%;
      display: flex;
      &-redstar {
        color: red;
      }
    }
    &-right {
      display: flex;
      width: 50%;
      height: 1.2rem;
      float: right;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      &-maxlength {
        white-space: nowrap;
        color: red;
        opacity: 100;
      }
      &-maxLengthHide {
        opacity: 0;
      }
      &-count {
        min-width: 60px;
        height: 1.2rem;
        background-color: #ffcc66;
        border: 1px solid black;
        color: #000;
      }
    }
  }
  &-input {
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 2.5rem;
  }
}
.information {
  border: 1px solid black;
  width: 90%;

  &-content {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    &-left {
      font-weight: bold;
      width: 50%;
      display: flex;
      &-redstar {
        color: red;
      }
    }
    &-right {
      background-color: #ffcc66;
      border: 1px solid black;
      color: #000;
      height: 1.2rem;
      min-width: 60px;
      align-items: center;
      text-align: center;
    }
  }
  &-input {
    font-family: sans-serif;
    width: fit-content;
    padding: 0.7rem;
    margin: 5px;
    border: 1px solid blue;
    height: fit-content;
  }
  &-table {
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
    font: 0.75em sans-serif;
    border-spacing: 0;
    text-align: center;
    &-break {
      word-break: break-word;
    }
    th,
    td {
      border-right: 1px solid black;
      border-bottom: 1px solid #000;
    }
    &-tdb {
      border-bottom: 1px solid #000;
    }
  }
  &-threadlight {
    border: 1px solid black;
  }
}

.revision {
  border: 1px solid black;
  width: 90%;
  &-content {
    padding: 5px;
    display: flex;
    &-left {
      font-weight: bold;
      width: 50%;
    }
    &-right {
      background-color: #ffcc66;
      border: 1px solid black;
      margin-left: 13rem;
      color: #000;
      width: 10%;
      height: 1.2rem;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &-input {
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 2.5rem;
  }
}
.submit {
  border: 1px solid black;
  width: 90%;
  &-content {
    padding: 5px;
    display: flex;
    &-left {
      font-weight: bold;
      width: 50%;
      display: flex;
      &-redstar {
        color: red;
      }
    }
  }
  &-input {
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 2.5rem;
  }
}
.button {
  display: flex;
  flex-direction: column;
  &-button__long {
    margin-top: 1rem;
    width: fit-content;
    background-color: #1e81b0;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
}
