@import "~office-ui-fabric-react/dist/sass/References.scss";

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #7be495;
$color-form-highlight: #56c596;
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content--threshold {
  margin-top: 20px;
  border: 1px solid black;
  width: 90%;
  &-threshold {
    padding: 5px;
    display: flex;
    &-threshold__left {
      font-weight: bold;
      width: 50%;
    }
    &-threshold__right {
      background-color: #ffcc66;
      border: 1px solid black;
      margin-left: 13rem;
      color: #fff;
      width: 10%;
      height: 1.2rem;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &-input {
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 2.5rem;
  }
}
.content--information {
  border: 1px solid black;
  width: 90%;
  &-information {
    padding: 5px;
    display: flex;
    &-information__left {
      font-weight: bold;
      width: 50%;
    }
    &-information__right {
      background-color: #ffcc66;
      border: 1px solid black;
      margin-left: 13rem;
      color: #fff;
      height: 1.2rem;
      width: 10%;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &-input {
    width: 90%;
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    height: 9rem;
  }
  &-table {
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
    border-spacing: 0;
    &-break {
      word-break: break-word;
    }
    th,
    td {
      border-right: 1px solid black;
      border-bottom: 1px solid #000;
    }
  }
  &-thread-light {
    border: 1px solid black;
  }
}

.content--revision {
  border: 1px solid black;
  width: 90%;
  &-revision {
    padding: 5px;
    display: flex;
    &-revision__left {
      font-weight: bold;
      width: 50%;
    }
    &-revision__right {
      background-color: #ffcc66;
      border: 1px solid black;
      margin-left: 13rem;
      color: #fff;
      width: 10%;
      height: 1.2rem;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &-input {
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 2.5rem;
  }
}
.content--submit {
  border: 1px solid black;
  width: 90%;
  &-submit {
    padding: 5px;
    display: flex;
    &-submit__left {
      font-weight: bold;
      width: 50%;
    }
  }
  &-input {
    padding: 1.5rem;
    margin: 5px;
    border: 1px solid blue;
    width: 90%;
    height: 2.5rem;
  }
}
.button-row {
  display: flex;
  flex-direction: column;
  &-button__long {
    margin-top: 1rem;
    width: fit-content;
    background-color: #1e81b0;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
}

.button--end {
  border: 1px solid black;
  width: fit-content;
  text-align: center;
  background-color: #fff;
  :hover {
    cursor: pointer;
  }
}
